<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Website title - bootstrap html template</title>

    <link href="~/Content/~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">


    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>


    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />

    <!-- Font awesome 5 -->
    <link href="~/Content/fonts/fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" />

    <link href="~/Content/css/responsive.css" rel="stylesheet" />

    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js"></script>

</head>
<body>

    <b class="screen-overlay"></b>

    <!-- ========================= SECTION PAGETOP ========================= -->
    <section class="section-pagetop bg-gray">
        <div class="container">
            <h2 class="title-page">My account</h2>
        </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION PAGETOP END// ========================= -->
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3">
                    <nav class="list-group">
                        <a class="list-group-item active" href="@Url.Action("ProfileMain", "Profile")">HỒ SƠ</a>
                        <a class="list-group-item" href="@Url.Action("Address", "Profile")">Địa chỉ</a>
                        <a class="list-group-item" href="@Url.Action("Order", "Profile")">Đơn hàng</a>
                        <a class="list-group-item" href="@Url.Action("Login", "User")">ĐĂNG XUẤT</a>
                    </nav>
                </aside> <!-- col.// -->
                <main class="col-md-9">

                    <a href="#" class="btn btn-light mb-3"> <i class="fa fa-plus"></i> Thêm địa chỉ</a>

                    <div class="row">
                        <div class="col-md-6">
                            <article class="box mb-4">
                                <h6>Đồng Nai - VN</h6>
                                <p>193/32 <br> Suối Nho, Định Quán  </p>
                                <a href="#" class="btn btn-light disabled"> <i class="fa fa-check"></i> Mặc định</a> <a href="#" class="btn btn-light"> <i class="fa fa-pen"></i> </a>   <a href="#" class="btn btn-light"> <i class="text-danger fa fa-trash"></i>  </a>
                            </article>
                        </div>  <!-- col.// -->
                        <div class="col-md-6">
                            <article class="box mb-4">
                                <h6>Phú Hữu, Thủ Đức, HCM</h6>
                                <p>96/4 <br> Đ. 816, Phường Phú Hữu, Thủ Đức</p>
                                <a href="#" class="btn btn-light">Mặc định</a> <a href="#" class="btn btn-light"> <i class="fa fa-pen"></i> </a>   <a href="#" class="btn btn-light"> <i class="text-danger fa fa-trash"></i>  </a>
                            </article>
                        </div>  <!-- col.// -->
                        
                    </div> <!-- row.// -->

                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

</body>
</html>