<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="cache-control" content="max-age=604800" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Website title - bootstrap html template</title>

    <link href="~/Content/~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon">


    <!-- jQuery -->
    <script src="~/Scripts/js/jquery-2.0.0.min.js"></script>

    <!-- Bootstrap4 files-->
    <script src="~/Scripts/js/bootstrap.bundle.min.js"></script>


    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />

    <!-- Font awesome 5 -->
    <link href="~/Content/fonts/fontawesome/css/all.min.css" rel="stylesheet" />

    <!-- custom style -->
    <link href="~/Content/css/ui.css" rel="stylesheet" />

    <link href="~/Content/css/responsive.css" rel="stylesheet" />

    <!-- custom javascript -->
    <script src="~/Scripts/js/script.js"></script>

</head>
<body>

    <b class="screen-overlay"></b>

    <!-- ========================= SECTION PAGETOP ========================= -->
    <!-- ========================= SECTION PAGETOP END// ========================= -->
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
        <div class="container">

            <div class="row">
                <aside class="col-md-3">
                    <nav class="list-group">
                        <a class="list-group-item active" href="@Url.Action("ProfileMain", "Profile")">HỒ SƠ</a>
                        <a class="list-group-item" href="@Url.Action("Address", "Profile")">Địa chỉ</a>
                        <a class="list-group-item" href="@Url.Action("Order", "Profile")">Đơn hàng</a>
                        <a class="list-group-item" href="@Url.Action("Login", "User")">ĐĂNG XUẤT</a>
                    </nav>
                </aside> <!-- col.// -->
                <main class="col-md-9">

                    <article class="card mb-4">
                        <header class="card-header">
                            <a href="#" class="float-right"> <i class="fa fa-print"></i> Print</a>
                            <strong class="d-inline-block mr-3">Thống kê đơn hàng</strong>

                        </header>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <h6 class="text-muted">Giao đến</h6>
                                    <p>
                                        <strong>Mr. Thinh</strong><br>
                                        Phone: +84 976 909 070<br>
                                        Email: longthinhx@icloud.com<br>
                                        Location: Dong Nai -  VN<br>
                                        Zip Code: 810000
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h6 class="text-muted">Phương thức thanh toán</h6>
                                    <span class="text-success">
                                        <i class="fab fa-lg fa-cc-visa"></i>
                                        Visa  **** 4216
                                    </span>
                                    <p>
                                        Giá bán: 15.590.000 đ<br>
                                        Phí vận chuyển:  0đ <br>
                                        <span class="b">Tổng: 15.590.000 đ</span>
                                    </p>
                                </div>
                            </div> <!-- row.// -->
                        </div> <!-- card-body .// -->
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>

                                        <td width="65">
                                            <img src="~/Content/images/items/14.png" class="img-xs border">
                                        </td>
                                        <td>
                                            <p class="title mb-0">iPhone 14</p>
                                            <var class="price text-muted">15.590.000 đ</var>
                                        </td>
                                        <td> Người bán <br>Apple Inc.</td>
                                        <td width="250">
                                            <a href="#" class="btn btn-outline-primary">Theo dõi</a>
                                            <div class="dropdown d-inline-block">
                                                <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-secondary">Khác</a>

                                            </div> <!-- dropdown.// -->
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                        </div> <!-- table-responsive .end// -->
                    </article> <!-- card order-item .// -->





                </main> <!-- col.// -->
            </div>

        </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->


</body>
</html>